<!DOCTYPE html>
<html lang="en">

<head>
    <title>Friends Expense</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{!-- bootstrap, google fonts, fontaweome, jquery and custome styles --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>

    <nav>
      <div>
        FRIENDS EXPENSE
      </div>

      <div>
        <a href="/">HOME</a>
        {{#if loggedIn}}
          <a href="/events">EVENTS</a>
        {{/if}}        
        {{#if loggedIn}}
          <a href="/account">ACCOUNT</a>
        {{/if}}
        <a href="/signup">SIGN UP</a>
        <a href="/signin">SIGN IN</a>
        {{#if loggedIn}}
          <a href="/logout">LOG OUT</a>
        {{/if}}
      </div>
    </nav>

    <main>
      {{{ body }}}
    </main>

    <footer>
      Footer
    </footer>

    <script src="/javascript/script.js"></script>
    <script src="/javascript/logout.js"></script>
    {{#if loggedIn}}
      <script src="/javascript/auto-logout.js"></script>
    {{/if}}
</body>

</html>